@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

 form{ 
     border: 2px solid #eb6b6b;      
     padding: 8px; 
     border-radius: 4px; 
     font-size: 20px; 
 } 
 input[type="number"], input[type="text"],input[type="date"], select, textarea { 
     width: 500px; 
     padding: 8px;
     border: 2px solid #000 !important; 
     border-radius: 4px;
     font-size: 25px; 
     height: 50px; 
     margin-bottom: 10px; 
     box-sizing: border-box;
 } 
body{
    font-family: 'Roboto', sans-serif;
    font-size :25px !important;
    font-weight:normal !important;
    background-color:rgb(88, 6, 139) !important;
    color: rgb(31, 16, 0)!important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
       
}

form{
    font-family: inherit;
    font-size: 20px;
    background: gray !important;
    
    
}


button{
    width: 200px;
    background-color: rgb(255,255,255);
    color: rgb(7, 102, 157);
}

button:hover {
    background-color: #e91f1f; /* Change to a softer red on hover */
    transform: scale(1.05);    /* Slightly enlarge the button */
    box-shadow: 0 4px 8px rgba(136, 27, 27, 0.2); /* Add a subtle shadow */
}