{% extends 'inventory/index.html' %}

{% block main-content %}
<hr class='text-warning text-lg'> 
<center><h3 class='text-warning'> Bottling awaiting Issue</h3></center>

<!-- Search form -->
<form method="GET" action="{% url 'mrn_awaiting_stock_location' %}" class="mb-3">
    <div class="input-group w-50">
        <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Search...">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>                  
            <th>Requistion_No</th>
            <th>Requisition_Date</th>
            <th>BOM_Ref</th>
            <th>Blend_ref</th>
            <th>Item</th>
            <th>Required_Quantity</th>
            <th>Issue_Unit</th>
            <th>Issue_Slip</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if bottling_awaiting_issue %}
            {% for item in bottling_awaiting_issue %}
                <tr>
                    <td>{{ item.id }}</td>                  
                    <td>{{ item.requisition_number }}</td>
                    <td>{{ item.requisition_date }}</td>
                    <td>{{ item.bom }}</td>                    
                    <td>{{ item.blend }}</td>                    
                    <td>{{ item.item }}</td>
                    <td>{{ item.required_quantity }}</td>
                    <td>{{ item.uom}}</td>
                    <td>{{ item.issue_slip}}</td>
                    
                    <td>
                        <a href="{% url 'issue_to_bottling' item.id %}">
                            <button class='btn btn-primary'>Issue for bottling</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="13">No records found.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock main-content %}
