{% extends 'inventory/index.html' %}

{% block main-content %}
<hr class='text-warning text-lg'> 
<center><h3 class='text-warning'>Blend Awaiting Bottling</h3></center>

<!-- Search form -->
<form method="GET" action="{% url 'blend_awaiting_processing' %}" class="mb-3">
    <div class="input-group w-50">
        <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Search...">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>                  
            <th>Blend_No</th>
            <th>Blend_Date</th>
            <th>Unit</th>
            <th>Brand</th>
            <th>Blend_Quantity</th>
            <th>Blend_Produced</th>
            <th>Blend_Value</th>
            <th>Closing Stock</th>            
            <th>Closing Value</th>            
            <th>UOM</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if awaiting_bottling %}
            {% for a in awaiting_bottling %}
           
                <tr>
                    <td>{{ a.id }}</td>                  
                    <td>{{ a.batch_number }}</td>
                    <td>{{ a.production_date }}</td>
                    <td>{{ a.unit }}</td>                    
                    <td>{{ a.brand }}</td>                    
                    <td>{{ a.batch_quantity }}</td>
                    {% for f in a.finished_blend.all  %}
                    <td>{{ f.closing_quantity }}</td>
                    <td>{{ f.closing_value }}</td>                    
                    {% endfor %}
                    <td>{{ a.uom }}</td>
                    
                    <td>
                        <a href="{% url 'finish_blend_issue' a.id %}">
                            <button class='btn btn-primary'>Transfer for Bottling</button>
                        </a>                        
                    </td>
                    <td>
                        <a href="{% url 'bottling_material_requisition' a.id %}">
                            <button class='btn btn-primary'> Create DG Requisition</button>
                        </a>                        
                    </td>
                </tr>              
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="13">No records found.</td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% endblock main-content %}
