{% extends 'inventory/index.html' %}

{% block main-content %}
  <!-- Display a table with serial numbers -->
  <center><h3 class='text-warning'>Open Quotations</h3></center>
  <table class="table table-hover">
    <thead>
      <tr>
        {% comment %} <th>Serial No.</th> {% endcomment %}
        <th>ID</th>
        {% comment %} <th>Unit</th> {% endcomment %}
        <th>Supplier</th>
        <th>Quotation Number</th>
        <th>Quotation Date</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Balance Quantity</th>
        <th>Rate</th>
        <th>Amount</th>
        <th>Valid_Till</th>
        <th>Tax_Term</th>                
        <th>Approver</th>
        {% comment %} <th>Approval Status</th> {% endcomment %}
      </tr>
    </thead>
    <tbody>
      {% for po in pending %}
      {% comment %} {% for item in item  %} {% endcomment %}
        <tr>
          {% comment %} <td>{{ forloop.counter }}</td> <!-- Serial number --> {% endcomment %}
          <td>{{ po.id }}</td>
          {% comment %} <td>{{ po.unit}}</td> {% endcomment %}
          <td>{{ po.supplier }}</td>
          <td>{{ po.quotation_no }}</td>
          <td>{{ po.quotation_date }}</td>
            {% for item in po.quotation_item.all %}
            <td>{{ item.item }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.balance_quantity }}</td>
            <td>{{ item.unit_rate }}</td>
            <td>{{ item.value}}</td>
            {% if not forloop.last %}
            </tr><tr><td></td><td></td><td></td><td></td>
            {% endif %}
            {% endfor %}                    
          <td>{{ po.valid_till}}</td>          
          <td>{{ po.taxes}}</td>          
          {% comment %} <td>{{ po.form_c}}</td>           {% endcomment %}
          <td>{{ po.approver}}</td>          
          {% comment %} <td>{{ po.approved }}</td> {% endcomment %}
        <td>
         <a href="{% url 'po_entry' po.id %}"><button type="submit" class="btn btn-primary">Create PO</button></a>
        </td>
        </tr>        
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
